.topBar {
    margin-top: 5px;
    position: relative;
    width: 100%;
    height: 115px;
    overflow: hidden;
    padding: 0;
    border: 0;
    background: #002060;
    font-size: 20px;
    height: 112px;
    text-align: center;
    line-height: 1em;
}

.topBarLine {
    margin-top: -14px;
}

.topLeftImage {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    display: block;
    float: left;
    width: auto;
}

.topRightBar {
    padding-left: 280px;
    height: 100%;
}

.capabilitiesTopCerts {
    padding-top: 10px;
    text-align: left;
}

.capabilitiesTopCerts img {
    max-height: 90px;
    width: auto;
}

.capabilitiesTopBarContact {
    position: absolute;
    top: 4px;
    right: 10px;
    color: #dfdfff;
    font-size: 13px;
    line-height: 1.2em;
}

.bigD {
    color: #C5B358;
    font-size: 30px;
}

.clientImage {
    height: 24px;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
    float:left;
}

.capabilitiesBottom {
    display: block;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #444;
    margin: 60px auto;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.2em;
    color: #002060;
}

.capabilitiesBottomImage {
    width: 15%;
    max-width: 110px;
    height: auto;
}

.capabilitiesBottomImageLast {
    width: 20%;
    max-width: 150px;
}